<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap-3.3.5/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="plugins/Font-Awesome-master/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="css/core/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/core/layout.css"/>
    <link rel="stylesheet" type="text/css" href="css/mod/docker-registry.css"/>
</head>
<body>
    <header class="header">
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="javascript:void(0);">
                        <h2>BONC-PaaS</h2>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);"><i class="fa fa-user"></i>&nbsp;&nbsp;基本信息</a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-pencil"></i>&nbsp;&nbsp修改密码</a></li>
                            <li class="logout">
                                <a href="javascript:void(0);"><i class="fa fa-power-off"></i>&nbsp;&nbsp退出登录</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <aside class="page-sidebar">
        <ul class="nav-menu">
            <li class="first-nav-li">
                <a href="index.html">
                    <span class="glyphicon glyphicon-th nav-icon" aria-hidden="true"></span>
                    <span class="nav-title">控制台</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <img class="nav-icon" src="images/service.svg" alt=""/>
                    <span class="nav-title">服务</span>
                </a>
                <ul class="nav-item-hover">
                   <li>
                       <a href="">
                           服务
                       </a>
                   </li>
                    <li>
                        <a href="">
                            存储与备份
                        </a>
                    </li>
                </ul>
            </li>
            <li class="item-click">
                <a href="javascript:void(0)">
                    <img class="nav-icon" src="images/service.svg" alt=""/>
                    <span class="nav-title">镜像</span>
                </a>
                <ul class="nav-item-hover">
                    <li>
                        <a href="">
                            镜像中心
                        </a>
                    </li>
                    <li>
                        <a href="">
                            我的镜像
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
    <div class="page-container">
        <article>
            <div class="page-main">
                <div class="contentTitle">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i>&nbsp;&nbsp;控制台</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li class="active">镜像服务</li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li class="active">mysql</li>
                    </ol>
                </div>
                <div class="contentMain">
                    <div class="mirror-head">
                        <section class="images">
                            <div class="img-icon">
                                <img class="imgIcon" src="images/tenxcloud_mysql.png" style="max-width:80%;">
                            </div>
                        </section>
                        <section class="type-info">
                             <span class="title" imagename="tenxcloud/mysql">
                                 <span style="width:90%;display:inline-block;overflow: hidden;text-overflow: ellipsis;">tenxcloud/mysql</span>
                            </span>
                            <span class="list-content">Base docker image to run a MySQL database server</span>
                            <span id="collectImage" class="btn btn-link fork" title="点击收藏" style="text-decoration: none;">
                                <i class="fa fa-star-o star-style"></i><span id="collectTxt">&nbsp;收藏</span>
                            </span>
                            <span class="downloadNumber">
                                <i class="cloud_download margin" style="color:#525354"></i>13023
                            </span>
                        </section>
                        <section class="list-download">
                            <div class="download-mirror">
                                <span>下载镜像：</span>
                                <input id="tdid" type="text" readonly="" class="download-src" value="docker pull index.tenxcloud.com/tenxcloud/mysql">
                                <a id="copy-style" data-clipboard-target="#tdid" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="复制"></a>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="table_list">
                                <div class="list_info INFO active">信息</div>
                                <div id="serviceInfo" class="list_info INTERFACE">服务接口</div>
                                <div class="list_info Dockerfile">Dockerfile</div>
                                <div class="list_info TAGS">版本</div>
                            </div>
                            <section class="infoLog hide" style="margin-bottom: 30px">
                                <div class="detail-contents">
                                    <p>
                                        Base docker image to run a MySQL database server
                                    </p>
                                </div>
                            </section>
                            <section class="infoInterface hide">
                                <div class="detail-contents">
                                    <p><b>容器端口：<span>3306/tcp</span></b></p>
                                    <p><b>数据存储卷：<span>/var/lib/mysql</span></b></p>
                                    <p><b><b>所需环境变量：</b></b></p>
                                    <table class="table table-hover" id="editTable" style="border:1px solid #eee;">
                                        <tbody>
                                        <tr style="background:#F5F6F6">
                                            <th>变量名</th>
                                            <th>默认值</th>
                                        </tr>
                                        <tr class="envobj-tr">
                                            <td>PATH</td>
                                            <td>/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin</td>
                                        </tr>
                                        <tr class="envobj-tr">
                                            <td>DEBIAN_FRONTEND</td>
                                            <td>noninteractive</td>
                                        </tr>
                                        <tr class="envobj-tr">
                                            <td>MYSQL_USER</td>
                                            <td>admin</td>
                                        </tr>
                                        <tr class="envobj-tr">
                                            <td>MYSQL_PASS</td>
                                            <td>**Random**</td>
                                        </tr>
                                        <tr class="envobj-tr">
                                            <td>REPLICATION_MASTER</td>
                                            <td>**False**</td>
                                        </tr>
                                        <tr class="envobj-tr">
                                            <td>REPLICATION_SLAVE</td>
                                            <td>**False**</td>
                                        </tr>
                                        <tr class="envobj-tr">
                                            <td>REPLICATION_USER</td>
                                            <td>replica</td>
                                        </tr>
                                        <tr class="envobj-tr">
                                            <td>REPLICATION_PASS</td>
                                            <td>replica</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <section class="infoDockerfile hide">
                                <div class="detail-contents">
                                </div>
                            </section>
                            <section class="infoTags">
                                <div class="detail-contents">
                                    <p><i class="fa fa-tag"></i> 5.6</p>
                                    <p><i class="fa fa-tag"></i> latest</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <ul class="registry-attr">
                                <li class="li-row"><i class="fa_attr_s"></i>属性</li>
                                <li class="li-row" style="line-height: 35px;">
                                    <p><i class="fa_shuxinger"></i>贡献者:&nbsp;&nbsp;&nbsp;&nbsp; tenxcloud</p>
                                    <p><i class="fa fa-star-o"></i><span>收藏数:&nbsp;&nbsp;&nbsp;&nbsp; 30 个人收藏了该镜像</span></p>
                                    <p><i class="fa_datetime"></i><span>创建时间: 2015-10-28 09:50:10</span></p>
                                </li>
                            </ul>
                            <div class="btn-primary btn-block" align="center" style="height:50px;line-height:50px;">
                                <a href="" id="deployImage" class="btn" style="color:white;width:100%;">部署镜像</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>



    <script type="text/javascript" src="js/plugins/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="plugins/bootstrap-3.3.5/dist/js/bootstrap.js" ></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/mod/docker-registry.js"></script>


</body>
</html>