

/* 侧边菜单栏 */
nav.navbar-default{
	width:200px;
	position: fixed;
    /* top: 70px; */
    left: 0;
    z-index: 95;
    min-height: 100%;
	/* background-color:#fff; */
	/* box-shadow: 1px 1px 10px #33414E; */
	box-shadow: 1px 1px 15px rgba(0,0,0,0.45);
}
.nav ul .nav-header{
	padding-bottom: 20px;
}
.nav > li > a {
    /* color: #e8504f; */
    font-weight: normal;
    font-size:15px;
    padding: 14px 20px 14px 25px;
}

.nav li>a {
    display: block;
    
}
.nav > li.active {
    /* border-left: 4px solid #e8504f; */
    /* background: #ffffff; */
    
}
.block {
    display: block;
}
.nav-header div.dropdown{
	text-align:center;
}
.dropdown .dropdown-menu {
    min-width: 140px;
    border-radius: 6px !important;
    margin-left: 30px;
}

.arrow {
    float: right;
    margin-top: 2px;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}
.tit-image{
	width: 18px;
}
.helpDoc{
	position: absolute;
	width: 100%;
	bottom: 20px;
	font-size: 12px;
	z-index: 222;
	text-align: center;
	height: 40px;
}
.helpDoc input{
	background-color: #fff;
    /* color: #e8504f; */
    font-weight: bolder;
    outline:none;
}
.helpDoc input:hover{
	/* border-color: #e8504f; */
	outline:none;
}
.helpDoc input:visited{
	/* border-color: #e8504f; */
	outline:none;
}
.nav-bcm{
	text-align: center;
	/* background-color: #e14344; */
	margin-top:-20px;
	height: 70px;
}
.nav-bcm h2{
	color: #fff;
	font-weight: 700;
	line-height:70px;
}
.img-circle{
	width:60px;
	margin-left:15px;
	/* border: 4px solid #e66; */
}
.nav-header{
	padding-top: 15px;
	padding-bottom: 25px;
}
.userNameTit{
	padding-top:10px;
}
.userNameTit span.t-username{
	color:#fff;
}
.userNameTit span i{
	color:#d6d7d9;
}
.fa_circle{
	width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 7px;
}
	








