.itemTable .ci-table thead {
    background: #f5f6f6;
}

.ci-listTr {
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.bj-code-source {
    background: #EDF4FC;
    width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 20px;
    display: inline-block;
    line-height: 30px;
    color: #333;
}

.itemTable .ci-table .ci-listTr:hover {
    background:#FAFAFA;
}

.itemTable .ci-table .ci-listTr:hover .bj-code-source {
    background:#4e8fde;
    color: #fff;
    transition: all .5s ease;
}

.bj-green {
    /* display: inline-block;
    padding: 5px 15px;
    border-radius: 2px;
    background: #13C563;
    text-indent: 0;
    cursor: pointer;
    color: #fff; */
}

.bj-green i{
    font-size:21px;
}
.bj-no-drop{
	/* color:#3c7bca; */
	cursor: pointer;
}

.bj-drop{
    display:inline-block;
    padding:5px 15px;
    border-radius:2px;
    background:#999;
    text-indent:0;
    cursor:no-drop;
    color: #fff;
}

.bj-drop i{
    color:#fff;
    font-size:18px;
}

@media screen and (min-width: 1200px) {
    .item-obj {
        padding: 30px 70px 50px;
    }
}

.item-obj {
    background: #fff;
    overflow: hidden;
}

.item-obj .container {
    width:100%;
}

.item-obj .depot-name .form-group > div {
    height: 40px;
    line-height: 40px;
}

.item-obj .depot-name .name-note{
    float: left;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    font-size: 16px;
    background: #F5F6F6;
}

.item-obj .depot-name .name-input {
    line-height: 18px;
    height: 40px;
    padding: 5px 0;
    text-indent: 5px;
    position: relative;
    left: -1px;
    border-radius: 4px;
}

.item-obj .depot-name #tag {
    background: #F5F6F6;
}

.item-obj .depot-name .btn-groups {
    border-radius: 2px;
    /* border: 1px solid #4280CB; */
    display: inline-block;
}

.item-obj .depot-name .btn-groups .btns {
    width: 80px;
    text-align: center;
    height: 40px;
    display: inline-block;
    float: left;
    cursor: pointer;
}

/* .item-obj .depot-name .btn-groups .active {
    background: #4280CB;
    color: #fff;
} */


.item-obj .registryinfo {
    border: 1px solid #DADADA;
    margin-top: 20px;
    padding: 5px;
    padding-top: 25px;
}

.item-obj .registryinfo .registry tr {
    height: 50px;
}

.item-obj .registryinfo .registry tr td {
    line-height: 20px;
    border: 0;
}

.item-obj .registryinfo .registry tr td .reg-text,
.item-obj .registryinfo .registry tr td .code-branch {
    /* color: #4E8FDE; */
    color: #6a96e6;
    text-align: center;
    display: inline-block;
}

td .reg-input, li .reg-input {
    padding: 5px;
    text-indent: 5px;
    border-radius: 2px;
    border: 1px solid #DADADA;
    height: 36px;
}

td .dockerfileinput {
    display: inline-block;
    margin-left: 5px;
}

.tables>tbody>tr>th,
.tables>tbody>tr>td {
    padding: 8px;
}


/* 详细页面 */
.ci-body {
    background: #fff;
    padding: 50px;
    min-width: 750px;
}

.ci-body .ci-head {
    height: 50px;
    border-bottom: 1px solid #DADADA;
}

.ci-body .ci-head .ci-name {
    font-size: 20px;
    line-height: 40px;
    vertical-align: super;
}

.ci-body .ci-content-tabmain {
    margin-top: 60px;
}

.ci-tab {
    display: inline-block;
    height: 50px;
    line-height: 45px;
    text-align: center;
    position: relative;
    top: 3px;
    cursor: pointer;
    padding: 0 1%;
    min-width: 80px;
}

.ci-body .ci-content-tabmain .active {
    /* color: #4E8FDE; */
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-bottom: 0;
    /* border-top: 2px solid #4E8FDE; */
    background: #fff;
}

.ci-body .ci-content-tabmain .code-tabmain {
    padding: 30px;
    border: 1px solid #DADADA;
    border-radius: 2px;
}

.log-details {
    overflow-y: hidden;
    clear: both;
}

.event-line {
    padding: 0 20px 0 50px;
    position: relative;
}

.event-line:nth-of-type(odd):before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background: #E7EAEF;
    left: 15px;
}

.event-line:nth-of-type(even):before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background: #E7EAEF;
    left: 15px;
}

.event-line:nth-of-type(2n+1):before {
    content: '';
    position: absolute;
    height: 140%;
    width: 2px;
    background: #E7EAEF;
    left: 15px;
    top: -40%;
    z-index: 0;
}

.event-line:nth-of-type(1):before {
    top: 0;
}



.event-status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 1;
}

.event-status>.notes {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 1.8em;
}

.event-status.error {
    background: #F81A1F;
    line-height: 28px;
}

.event-status.success {
    background: #2fba66;
    line-height: 28px;
}

.event-title {
    text-indent: 0;
    line-height: 50px;
    overflow: hidden;
    border: 1px solid #E1E1E1;
    border-radius: 2px;
    margin-top: 20px;
}


.lives .title-name {
    color: #2FBA66;
    border-bottom: 1px solid #e5e5e5;
    background: #F8F8F8;
}
.title-name {
    width: 60%;
    float: left;
    height: 50px;
    cursor: pointer;
}

.title-name .event-names {
    text-indent: 20px;
    display: inline-block;
    width: 70%;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 150px;
    position: relative;
}

.title-name .time-on-status {
    vertical-align: top;
    display: inline-block;
    width: 28%;
    min-width: 60px;
    white-space: nowrap;
    padding-left: 15px;
}

.title-name .event-names .btn-version {
    background: #EDF4FC;
    text-align: center;
    height: 30px;
    border-radius: 20px;
    display: inline-block;
    line-height: 30px;
    color: #333;
    text-indent: 0;
    min-width: 70px;
    position: absolute;
    right: 0;
    margin-top: 10px;
}

.title-name.error {
    color: #f81a1f;
}

.lives .time-line-time {
    border-bottom: 1px solid #e5e5e5;
    background: #F8F8F8;
}
.time-line-time {
    display: inline-block;
    float: right;
    color: #999;
    cursor: pointer;
    width: 40%;
    height: 50px;
}
.event-stop {
    width: 30px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    float: right;
    margin-top: 7px;
    margin-left: 1px;
    cursor: pointer;
}
.event-del {
    width: 30px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    float: right;
    margin-top: 5px;
    margin-left: 1px;
    cursor: pointer;
}
.event-sign {
    width: 50px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    float: right;
    margin-top: 5px;
    margin-left: 1px;
    cursor: pointer;
}

.fa_caret {
    text-indent: 5px;
    margin-top: 5px;
    font-size: 2em;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -otransform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all .15s;
}

.datetimes {
    display: inline-block;
    height: 40px;
    width: 35%;
    margin-top: 5px;
    line-height: 40px;
    white-space: nowrap;
}

.time-on-timeout {
    display: inline-block;
    width: 30%;
    white-space: nowrap;
    text-align: center;
}

.time-on-stop {
    display: inline-block;
    width: 10%;
    white-space: nowrap;
    text-align: center;
}

.time-line-message {
    display: none;
    text-overflow: ellipsis;
    padding: 0 1em;
    overflow: hidden;
    padding-bottom: 2px;
}

.config-details .col-2x {
    width: 172px;
    float: left;
    padding-right: 4px;
}

.other-details .col-9x {
    width: 75%;
    margin: 10px auto;
}

.other-details .col-9x .btn-deleteitem {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background: #13c563;
    line-height: 50px;
    padding: 0;
    margin: 10px 0;
    border: 0;
    background: #EF7772;
}
.other-details .col-9x .btn-deleteHook {
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    padding: 0;
    margin: 10px 0;
    border: 0;
}

.other-details .col-9x .other-hint {
    color: #666;
}

.other-details .col-9x .other-hint .gray-radius {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    background: gray;
    text-align: center;
    margin-right: 5px;
}

.other-details .col-9x .other-hint {
    color: #666;
}

/* ��������ģ�嵯�� */
.dynamic-scale{
	margin-left: 43px;
}

.doc-tr{
	color:green;
	float:right;
	margin-right:15px;
	font-size:16px
}
tr.focus{
    background-color:#f5f6f6;
}
.enabled tr {
    border: 1px solid #eee;
    text-indent: 5px;
}
.fa-img{
	width:25px;
}
.c-project-tit{
	width:12%;
	line-height:34px;
	margin-left:10px;
	float:left;
	display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.c-project-con{
	width:86%;	
}
textarea.c-project-con{
	margin-top:8px;	
}
.c-title{
	margin-top:20px;
}
#git-higher,.ant-higherBtn{
	border: 1px solid #ccc;
	border-radius:5px;
	margin-right:38px;
	margin-bottom: 15px;
}
#git-higher:hover,.ant-higherBtn:hover{
	background-color:#cdcdcd;
	border: 1px solid #ccc;
}

.ci-h5{
	padding-right: 10px!important;
	padding-left:10px!important;
	cursor: pointer!important;
	
}
.addCiStepRow{
	width: 98%;
    margin: 0 auto;
    margin-top:15px;
}
.addCiStepRow .col-sm-12 .ibox-title{
	border-top: 1px solid #dadada;
	border-left: 4px solid #dadada;
	border-right: 1px solid #dadada;
}
.addCiStepRow .col-sm-12 .ibox-content{
	border-left: 4px solid #dadada;
	border-right: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}
.ibox-content .c-project-con{
	width:80%;	
}
.ibox-content .c-project-tit{
	width:16%;	
}
.ibox-content .ant-higherBtn{
	border: 1px solid #ccc;
	border-radius:5px;
	margin-right:40px;
	margin-bottom: 15px;
}
.ibox-content .maven-higherBtn{
	border: 1px solid #ccc;
	border-radius:5px;
	margin-right:55px;
	margin-bottom: 15px;
}
.dropdown-toggle .caret{
	margin-left: 10px;
}
.dropdown .dropdown-menu{
	width:200px;
}
.dropdown-menu li{
	line-height: 34px;
}
#dropdown-btn{
	width:200px;
	background-color:#dadada;
	color: #676a6a;
    line-height: 7px;
}
.registryinfo ul.nav-bar{
	margin-bottom:20px;
	margin-left:10px;
}
.fa-map-marker{
	margin-right: 6px;
}
.tab-title{
    width: 100px;
    height: 48px;
    line-height: 40px;
    float: left;
    margin-top: -18px;
    border-top: 4px solid #dadada;
}
/* .tab-title.active{
	border-top: 4px solid #e8504f;
} */
.tab-title h5{
    font-size: 15px;
    line-height: 44px;
}
#ciTab .ci{
	margin-left:16px;
}
.registryinfo div.form-group1{
	margin-bottom: 8px;
}
.registryinfo .row input{
	text-indent: 10px;
}
#sortable .row .col-sm-12{
	padding-left: 0px;
}
.addCredentialsBtn{
	border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #dadada;
    line-height: 30px;
    margin-left: 10px;
}
.infoCred{
	margin-top: 12px;
}
.labelCred{
	width: 14%;
	margin-left: 20px;
	float: left;
	line-height:34px;
	
}
.conCred{
	width: 77%;
}
.c-project-checkbox{
	height: 24px;
}
.ci-quick-baseImage select{
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.ci-quick-baseImage select#baseImageName{
	width: 218px;
}
/* shera */

#jdkPaht{
	margin-left: 5px;
}
.addJDK{
	line-height: 34px;
    margin-left: 12px;
    font-size: 20px;
    color: #3c7bca;
}
.createjdk {
    background: #e4eaec;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #3f8ec3;
    cursor: pointer;
    margin-top: -20px;
    width: 85%;
    float: right;
    margin-right: 18px;
}
.jdkCon thead{
	background: #E4EAEC;
}
.jdkName, .jdkPath{
	width:96%;
}
td.autocut{
	width:350px; 
	line-height:40px!important;
	display:block; 
    overflow:hidden;  
    white-space:nowrap;  
    text-overflow:ellipsis;  
    -o-text-overflow:ellipsis;  
    -icab-text-overflow: ellipsis;  
    -khtml-text-overflow: ellipsis;  
    -moz-text-overflow: ellipsis;  
    -webkit-text-overflow: ellipsis;
}
.imgVersionFA{
	line-height:34px;
	margin-left:4px;
	color:#5cb85c;
}
#imageVersion{
	float: left;
}
#imageInfo{
	margin-left:10px;
}
.imgInput{
	width:40%;
}
.ci-powerOff{
	font-size:19px;
	/* color:#3c7bca; */
}
.cursor-no-drop i.fa-arrow-circle-right{
    cursor:no-drop;
    color:#333;
}
#editCiBtn{
	margin-right:10px;
}
/* ci-add */
.dockerfileTools{
	width:98%;
	margin: 0 auto;
}
.toolItems{
	width:100%;
	float:left;
}
.dftools li{
	float:left;
}
.dftools li.dftools-li{
	width:16%;
}
.dftools li.dftools-firstli{
	width:8%;
}
.dftools li label input{
	margin-right:4px;
}





