.setTab {
    width: 100%;
    height: 45px;
    background: #EFF4F5;
    line-height: 45px;
}

.setTab a {
    text-align: center;
    color: #666;
    cursor: pointer;
}

.setTab a.Record {
    width: 110px;
    height: 100%;
    display: inline-block;
}

.setTab a.active {
    font-weight: 500;
    border-bottom: 1px solid #B8C4CE;
    background: #e4ebee;
}

.account_table {
    background: #fff;
    min-height: calc(100% - 130px);
}

.user_info_form,
.edit_pwd_form {
    padding: 40px;

}

.itemTable .user-table .userTr {
    border-bottom: 1px solid #eee;
}

.itemTable .user-table .userTr:hover {
    background:#FAFAFA;
}

.aside-btn {
    height: 60px;
    position: relative;
    padding: 0 20px;
    background: #EAEEF1;
}

.aside-btn .btns-group {
    position: absolute;
    bottom: -1px;
}

.btns-group > span.btn {
    margin-right: 10px;
    height: 36px;
    min-width: 70px;
    border-radius: 2px;
    padding: 7px 12px;
}

.btns-group .btn-white {
    background: #fff;
    color: #3C7BCA;
}

.searchs {
    float: right;
}

.searchs input {
    height: 36px;
}

.clusterId {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.tr-row {
    background: #eee;
    border-top: 1px solid #EDECEC;
    border-left: 1px solid #eee;
}

/* service-create */

.modalCrealApp {
    background: #fff;
    min-height: 100%;
}

.modalCrealApp .steps-main {
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
}

.progre {
    text-align: center;
    border-bottom: 2px solid #e2e2e4;
    width: 570px;
    margin: 30px auto;
    height: 45px;
}

.modalCrealApp .steps-main .progre {
    width: 100%;
    border: 0;
}

.modalCrealApp .steps-main .progre .radius_step {
    color: #999;
    height: 45px;
    width: 24.99%;
    float: left;
    border-bottom: 2px solid #e2e2e4;
}

.modalCrealApp .steps-main .progre .radius_step.action {
    border-bottom: 2px solid #418ac7;
}

.radius_step {
    color: #999;
    padding: 0 20px;
    height: 45px;
    width: 190px;
    float: left;
}

.radius_step span {
    margin: 3px auto;
    padding: 6px 10px;
    border-radius: 30px;
    background: #cbcbcb;
    color: #fff;
}

.radius_step.action span {
    background: #418ac7;
}

.step-inner {
    position: relative;
    left: 0;
    width: 1400px;
    height: 280px;
    overflow: hidden;
}

.modalCrealApp .steps-main .step-inner {
    position: relative;
    width: 400%;
    overflow: hidden;
    min-height: 300px;
    height: auto;
}

.host_step1, .host_step2, .host_step3 .host_step4{
    float: left;
    width: 700px;
}

.modalCrealApp .steps-main .step-inner .host_step1 {
    height: auto;
    min-height: 200px;
}

.modalCrealApp .steps-main .step-inner .host_step1,
.modalCrealApp .steps-main .step-inner .host_step2,
.modalCrealApp .steps-main .step-inner .host_step3,
.modalCrealApp .steps-main .step-inner .host_step4 {
    width: 25%;
    padding: 0 4rem;
}

.select-server {
    width: 140px;
    text-align: right;
    float: left;
    height: 50px;
    line-height: 35px;
}

.select-server > span {
    padding-right: 10px;
    text-align: right;
}

.modalCrealApp .steps-main .step-inner .host_step1 .select-server,
.modalCrealApp .steps-main .step-inner .host_step2 .select-server,
.modalCrealApp .steps-main .step-inner .host_step3 .select-server,
.modalCrealApp .steps-main .step-inner .host_step4 .select-server{
    width: auto;
    float: left;
    height: 50px;
    line-height: 35px;
}

.info-block,
.info-system,
.info-type {
    display: inline-block;
    padding: 0 10px;
    min-width: 60px;
    line-height: 36px;
    text-align: center;
    color: #418ac7;
    cursor: pointer;
}

.info-block.primary,
.info-system.primary,
.info-type.primary {
    background: #418ac7;
    border-radius: 20px;
    color: #fff;
}

.search {
    position: relative;
    min-width: 230px;
    display: inline-block;
    margin: 0 0 20px 0;
    min-width: 230px;
    float: right;
}

.search .search-img {
    width: 160px;
    height: 36px;
}

.search .btn-send {
    height: 36px;
    line-height: 22px;
    position: absolute;
    top: 0px;
    right: 0;
    border-radius: 0 2px 2px 0;

}

.select-type,
.stack-type {
    clear: both;
    width: 80%;
    margin: 0 auto;
}

.pull-type {
    float: left;
    display: inline-block;
    height: 50px;
    line-height: 36px;
    margin-right: 10px;
}

.open-system {
    float: left;
}

.blankapp {
    margin-top: 20px;
}

.blankapp-list {
    display: block;
    clear: both;
    overflow-y: auto;
    margin-bottom: 20px;
}

.blankapp-list .list-wrapper {
    border: 1px solid #e2e2e4;
    border-radius: 2px;
    min-height: 100px;
}

.image-item:nth-of-type(1) {
    border: 0;
}

.image-item {
    height: 99px;
    border-top: 1px solid #e2e2e4;
    border-radius: 3px;
    color: #777;
    clear: both;
}

.img_icon {
    display: inline-block;
    text-align: center;
    float: left;
    margin: 25px 0;
}

.img_icon > img {
    height: 50px;
    max-width: 80%;
}

.list-item-description {
    margin-top: 25px;
}

.image-item .id {
    width: 150px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: 15px;
}

.ve_top {
    line-height: 30px;
    width: 120px;
    display: inline-block;
    letter-spacing: 1px;
    float: left;
}

.imageName {
    line-height: 30px;
}

.select-versions {
    display: inline-block;
    width: 70%;
    height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
    line-height: 30px;
    text-indent: 5px;
}

.sign {
    float: right;
    font-size: 20px;
    margin-right: 20px;
}

.modalCrealApp .in_style,
.modalCrealApp .select-versions {
    width: 83%;
}

.dropdown-position {
    left: 120px;
    width: 70%;
    top: 30px;
    text-indent: 10px;
    max-height: 130px;
    overflow-y: auto;
}

.safeSet .dropdown-menu li {
    padding: 5px 0px;
    text-indent: 10px;
    cursor: pointer;
}

.set_container {
    width: 120px;
    height: 40px;
    margin-right: 20px;
    float: left;
    cursor: pointer;
    overflow: hidden;
}

.up_style {
    position: relative;
    width: 48px;
    height: 100%;
    background: #e2e2e4;
    float: left;
    text-align: center;
    border-radius: 2px;
}

.radius_type {
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid #a6a6a6;
    margin: 0 auto;
    color: #a6a6a6;
    border-radius: 50%;
    text-align: center;
    line-height: 23px;
    position: relative;
    top: 8px;
}

.modefy_container > .parameter,
.set_container > .parameter {
    font-size: 12px;
    color: #999;
}

.x1 > .up_style {
    background: #2cb663;
}

.x2 > .up_style {
    background: #e8a61b;
}

.x3 > .up_style {
    background: #418ac7;
}

.x4 > .up_style {
    background: #7e71b0;
}

.param-set {
    height: 45px;
}

.number-title {
    display: inline-block;
    width: 115px;
}

.param-set .number {
    width: 230px;
    text-indent: 5px;
    /*margin-top: 10px;*/
    padding: 4px;
    border: 1px solid #ccc;
}

.unit {
    margin-left: -50px;
    display: inline-block;
}

.update-mi {
    line-height: 30px;
}

.ins {
    width: 80px;
    display: inline-block;
    text-align: center;
}

.hide-set {
    margin: 0 auto;
    clear: both;
    position: relative;
    min-height: 40px;
}

.hide-select {
    margin-right: 20px;
}

.hide-select > input {
    padding: 3px 0;
    text-indent: 10px;
    width: 230px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#cratePATH {
    cursor: pointer;
}

.enabled {
    margin-top: 10px;
    color: #999;
    clear: both;
}

.enabled thead {
    background: #E4EAEC;
}

#Path tr, .enabled tr {
    border: 1px solid #eee;
    text-indent: 5px;
    text-align: center;
}

.createPort {
    background: #e4eaec;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #3f8ec3;
    cursor: pointer;
}

.createPadding {
    padding: 20px 60px;
    position: fixed;
    bottom: 0;
    width: 75% !important;
    background: #fff;
    height: 80px !important;
    margin: 0 !important;
}

/* detail */
.detail-succeed {
    height: 170px;
    border-bottom: 1px solid #DFDDDD;
}

.icon-img {
    width: 130px;
    height: 130px;
    background: #fefefe;
    border-radius: 20px;
    float: left;
    text-align: center;
    margin-left: 1%;
    color: #fff;
}

.type-icon {
    width: 80%;
    height: 80px;
    margin: 25px auto;
    overflow: hidden;
}

.type-icon > img {
    max-width: 100%;
    max-height: 100%;
}

.succeed-content,
.succeed-status {
    float: left;
    margin-left: 20px;
}

.succeed-content li {
    line-height: 30px;
}

.applocation {
    text-align: right;
    position: relative;
    top: 35px;
    width: 30%;
    float: right;
    padding-right: 20px;
}

.detail-succeed .open {
    width: 180px;
    height: 60px;
    background: #2FBA66;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
}

.center-style {
    width: 98%;
    margin: 30px auto;
}

.contentMain .baseInfo {
    height: 60px;
    line-height: 60px;
    border: 1px solid #DDDDDD;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.contentMain .baseInfo a {
    width: 110px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.containerInfo {
    overflow: hidden;
    width: 98%;
    margin-left: 1%;
    min-height: 200px;
    background: #fff;
    margin-bottom: 40px;
}

.table {
    margin: 0px;
    background: #fff;
}

.containerInstances table thead,
.containerInfo .table thead {
    background: #e4eaec;
}

.containerInfo .table tr,
.containerInstances .table tr {
    text-indent: 10px;
}

table.w50 thead tr th {
    border: 1px solid #e4eaec;
}

.table .BORDER td {
    border: 1px solid #eee;
}

.contentMain table.w50 td {
    width: 50%;
}

.containerInstances {
    overflow: hidden;
    width: 98%;
    margin-left: 1%;
}

.containerEvent,
.bindDomain,
.portMapping {
    width: 98%;
    margin-left: 1%;
    background: white;
    overflow: hidden;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.paddingrow {
    padding: 50px;
}

.orgmain {
    margin-bottom: 20px;
    position: relative;
}

.after-info {
    background: #F7F7F7;
    padding: 22px 30px;
}

.w10 {
    width: 10%;
    border-right: 1px solid #DDDDDD;
}

.w15 {
    width: 15%;
    border-right: 1px solid #DDDDDD;
}

.w30 {
    width: 30%;
    border-right: 1px solid #DDDDDD;
}

.w45 {
    width: 45%;
    border-right: 1px solid #DDDDDD;
}

.first-td {
    background: #FCFBFB;
    border-right: 1px solid #DDDDDD;
}

#addorg {
    border: 1px solid #ddd;
}

#addorg > tr > td {
    border-right: 1px solid #DDDDDD;
}

i.pushOrg {
    height: 20px;
    width: 18px;
    margin-right: 0;
    cursor: pointer;
}

.data-analysis {
    width: 100%;
    min-height: 300px;
}

.containerLog {
    background: black;
    color: #2FBA66;
    width: 98%;
    margin-left: 1%;
    min-height: 300px;
    position: relative;
    transition: all 0.5s;
}

.containerLog .weblogtitle {
    height: 40px;
    background: #1C2022;
    padding-left: 2%;
    padding-right: 2%;
}

.weblogtitle .pull_left {
    width: 59%;
    line-height: 40px;
    display: inline-block;
}

.weblogtitle .pull_right {
    width: 40%;
    text-align: right;
    line-height: 40px;
    display: inline-block;
}

.weblogtitle .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.circle.red {
    background: #EF3232;
}

.circle.blue {
    background: #3F7AC1;
}

.circle.green {
    background: #36FD33;
}

#date_log {
    background: none;
    border: 0;
    width: 220px;
    text-align: right;
}

#ramSlider, #volSlider{
    width: 400px;
}

#confRamSlider, #confVolSlider{
    width: 280px;
}

#ramSlider .slider-handle, #volSlider .slider-handle,
#confRamSlider .slider-handle, #confVolSlider .slider-handle{
    background: #5cb85c;
}

#ramSlider .slider-selection, #volSlider .slider-selection,
#confRamSlider .slider-selection, #confVolSlider .slider-selection{
    background: #009933;
}

#ram, #confRam, #vol, #confVol {
    width: 70px;
    text-indent: 8px;
    margin-left: 20px;
}

.popWin {
    padding: 30px;
}

.host_step1 .blankapp .row .col-md-4{
    display: inline;
}

/*服务详情*/
.container-count {
    margin-top: 25px;
    margin-bottom: 20px;
    min-width: 180px;
    overflow: hidden;
    height: 260px;
    border-radius: 2px;
    float: left;
    padding-left: 20px;
    width: 40%;
}
.container-count .padding {
    background: #fff;
    height: 100%;
    width: 100%;
}
.row-title, .container-count .row-title {
    line-height: 40px;
    background: #FAFAFA;
    border-bottom: 1px solid #EFF2F7;
    padding-left: 30px;
    font-size: 16px;
}
.container-count .server-list {
    padding: 0 30px;
    margin-top: 20px;
}
.container-count .server-list li {
    height: 50px;
}
.container-count .server-list li a {
    color: #333;
}
.container-count .server-list li .server-info-icon {
    float: left;
}
.server_icon_1, .server-info-icon .server_icon_1 {
    background-position: 0 2px;
}
.container-count .server-list .green {
    background: #2FBA66;
}
.container-count .server-list .big {
    padding: 5px 12px;
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    min-width: 70px;
}
.container-count .server-list .blue {
    background: #5F93D3;
}
.container-count .server-list .yellow {
    background: #FCB322
}
.container-count .server-list .purple {
    background: #8075C4;
}


/*资源查看*/
.detail-info {

    height: calc(100% - 242px);
    margin-bottom: 15px;
}
.detail-info .info-list {
    margin-top: 0px;
    background: #fff;
    height: calc(100% - 20px);
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
    padding: 20px;
}
.detail-info .info-list #table-listing {
    text-align: center;
}
.detail-info .info-list #table-listing thead tr {
    height: 40px;
}
.detail-info .info-list #table-listing thead .detail-rows {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-left: 25px;
}
.detail-info .info-list #table-listing tbody tr {
    height: 40px;
    border-bottom: 1px solid #E7E7E7;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
.detail-info .info-list #table-listing tbody td .slider_bj {
    position: relative;
    background: #DADBDE;
    border-radius: 7px;
    height: 15px;
    width: 95%;
}
.detail-info .info-list #table-listing tbody td .slider_bj .slider_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 15px;
    background: #2FBA66;
    border-radius: 7px;
    transition: all 1s ease-out;
}
/*master-CPU*/
.detail-info .info-list #masterCpuResourceInfo tbody td .slider_bj {
    position: relative;
    background: #DADBDE;
    border-radius: 7px;
    height: 15px;
    width: 95%;
}
.detail-info .info-list #masterCpuResourceInfo tbody td .slider_bj .slider_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 15px;
    background: #2FBA66;
    border-radius: 7px;
    transition: all 1s ease-out;
}

.detail-info .info-list #masterCpuResourceInfo{
    text-align: center;
}


.detail-info .info-list #table-listing, #masterCpuResourceInfo thead .detail-rows {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-left: 25px;
    background: #FAFAFA;
}
/*etcd-CPU*/
.detail-info .info-list #etcdCpuResourceInfo tbody td .slider_bj {
    position: relative;
    background: #DADBDE;
    border-radius: 7px;
    height: 15px;
    width: 95%;
}
.detail-info .info-list #etcdCpuResourceInfo tbody td .slider_bj .slider_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 15px;
    background: #2FBA66;
    border-radius: 7px;
    transition: all 1s ease-out;
}

.detail-info .info-list #etcdCpuResourceInfo{
    text-align: center;
}


.detail-info .info-list #table-listing, #etcdCpuResourceInfo thead .detail-rows {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-left: 25px;
    background: #FAFAFA;
}
/*slave-CPU*/
.detail-info .info-list #slaveCpuResourceInfo tbody td .slider_bj {
    position: relative;
    background: #DADBDE;
    border-radius: 7px;
    height: 15px;
    width: 95%;
}
.detail-info .info-list #slaveCpuResourceInfo tbody td .slider_bj .slider_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 15px;
    background: #2FBA66;
    border-radius: 7px;
    transition: all 1s ease-out;
}

.detail-info .info-list #slaveCpuResourceInfo{
    text-align: center;
}


.detail-info .info-list #table-listing, #slaveCpuResourceInfo thead .detail-rows {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-left: 25px;
    background: #FAFAFA;
}
/*内存*/

/*master-内存*/
.detail-info .info-list #masterMemResourceInfo tbody td .slider_bj {
    position: relative;
    background: #DADBDE;
    border-radius: 7px;
    height: 15px;
    width: 95%;
}
.detail-info .info-list #masterMemResourceInfo tbody td .slider_bj .slider_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 15px;
    background: #2FBA66;
    border-radius: 7px;
    transition: all 1s ease-out;
}

.detail-info .info-list #masterMemResourceInfo{
    text-align: center;
}


.detail-info .info-list #table-listing, #masterMemResourceInfo thead .detail-rows {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-left: 25px;
    background: #FAFAFA;
}
/*etcd-内存*/
.detail-info .info-list #etcdMemResourceInfo tbody td .slider_bj {
    position: relative;
    background: #DADBDE;
    border-radius: 7px;
    height: 15px;
    width: 95%;
}
.detail-info .info-list #etcdMemResourceInfo tbody td .slider_bj .slider_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 15px;
    background: #2FBA66;
    border-radius: 7px;
    transition: all 1s ease-out;
}

.detail-info .info-list #etcdMemResourceInfo{
    text-align: center;
}


.detail-info .info-list #table-listing, #etcdMemResourceInfo thead .detail-rows {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-left: 25px;
    background: #FAFAFA;
}
/*slave-内存*/
.detail-info .info-list #slaveMemResourceInfo tbody td .slider_bj {
    position: relative;
    background: #DADBDE;
    border-radius: 7px;
    height: 15px;
    width: 95%;
}
.detail-info .info-list #slaveMemResourceInfo tbody td .slider_bj .slider_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 15px;
    background: #2FBA66;
    border-radius: 7px;
    transition: all 1s ease-out;
}

.detail-info .info-list #slaveMemResourceInfo{
    text-align: center;
}


.detail-info .info-list #table-listing, #slaveMemResourceInfo thead .detail-rows {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-left: 25px;
    background: #FAFAFA;
}

