.dashboard-wrapper {

}

.dashboard-wrapper .container {
    width: 1000px;
}

.dashboard-nav {
    padding-top: 15px;
}

.dashboard-nav .navbar-logo h1{
    font-weight: 700;
    color: #ffffff;
}

.navbar-user .open > .dropdown-toggle,
.navbar-user .open > .dropdown-toggle:hover,
.navbar-user .open > .dropdown-toggle:focus{
    color: #ffffff;
}


/* 应用列表部分 */
.dashboard-main  {
    animation:appmove 1s;
}

@keyframes appmove {
    from {transform:scale(0.5)}
    to {transform:scale(1)}
}

.dashboard-main .app-list > li {
    float: left;
    width: 20%;
}

.app-list .icon-view {
    display: block;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
}

.app-list .icon-view .icon-wrapper {
    background-color: rgba(49,116,193,.2);
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
}

.app-list li:hover .icon-view .icon-wrapper {
    background-color: rgba(49,116,193,.4);
}

.app-list .icon-view .icon-wrapper .icon-img {
    height: 100px;
    width: 100%;
    display: table;
}

.app-list .icon-view .icon-wrapper .icon-img span {
    display:table-cell;
    vertical-align:middle;
    text-align: center;
}

.app-list .icon-view .icon-wrapper .icon-img img {
    display: inline-block;
    height: 85px;
    width: 85px;
}

.app-list .icon-view .icon-name {
    padding: 8px 5px;
    border-top: 1px solid rgba(0,0,0,.055);
    border-radius: 0 0 25px 25px;
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.85);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0 7px 15px rgba(0,0,0,.25);
}



/* dashboard 背景 */
.wallpaper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.wallpaper::after {
    content: "";
    display: block;
    height: 110%;
    width: 110%;
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: url("../../images/dashboard-bg.jpg") no-repeat;
    background-size: cover;
    -webkit-filter: blur(4px) grayscale(70%);
    filter: blur(4px) grayscale(70%);
}