.search {
    margin-bottom: 35px;
    position: relative;
    min-width: 230px;
}

.search-group-inner {
    width: 170px;
    font-size: 13px;
}
.search .search-img {
    height: 40px;
    width: 86%;
}

.search .btn-send {
    line-height: 25px;
    height: 45px;
    margin-left: -1px;
    vertical-align: top;
}

.images-panel {
    height: 240px;
    width: 21%;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    position: relative;
    float: left;
    margin: 0 20px 20px;
    background: #fcfcfc;
}

.images-panel .select-img {
    display: table;
    width: 100%;
    height: 170px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.images-panel .select-img .star-style {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #AAA;
    font-size: 18px;
}

.images-panel .select-img .mir-img {
    width: 100%;
    height: 75px;
    text-align: center;
    position: absolute;
    top: 6px;
}

.images-panel .select-img .mir-img img {
    height: 100%;
    max-width: 80%;
}

.images-panel .select-info {
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    color: #63615E;
}

.images-panel .select-info .pull-right-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.images-panel .select-info .pull-right-text span.image-name {
    display: block;
    float: left;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.images-panel .select-info .pull-right-text span.lock {
    display: block;
    float: right;
    width: 10%;
    color: #337ab7;
    height:30px;
}

.images-panel .create-item {
    opacity: 0;
    width: 100%;
    overflow: hidden;
    height: 170px;
    background: rgba(84,84,84,.5);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .5s cubic-bezier(0.16,.68,.43,.99);
    -moz-transition: all .5s cubic-bezier(0.16,.68,.43,.99);
    -ms-transition: all .5s cubic-bezier(0.16,.68,.43,.99);
    -o-transition: all .5s cubic-bezier(0.16,.68,.43,.99);
    transition: all .5s cubic-bezier(0.16,.68,.43,.99);
}

.images-panel .create-item a {
    font-size: 16px;
    display: table;
    width: 100%;
    height: 100%;
}

.images-panel .create-item a .note-text {
    color: #fff;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    display: table-cell;
    vertical-align: middle;
}

.mirror-head {
    width: 100%;
    height: 190px;
    padding: 0 10px;
}

.mirror-head .images {
    float: left;
    width: 200px;
    height: 140px;
    border: 1px solid #DCDCDC;
    background: #fff;
    display: table;
    margin-right: 30px;
    position: relative;
}

.img-icon {
    width: 175px;
    height: 75px;
    margin: 24px auto;
    text-align: center;
    overflow: hidden;
}

.mirror-head .type-info {
    float: left;
    height: 100%;
    width: 27%;
    position: relative;
}

.mirror-head .type-info span.title {
    display: inline-block;
    width: 100%;
    height: 36px;
    font-size: 20px;
    white-space: nowrap;
}

.mirror-head .type-info span.lock {
    color: #337ab7;
    font-size: 14px;
    cursor: pointer;
}

.mirror-head .type-info #desEdit {
    position: absolute;
    right: -60px;
    top: 0;
    z-index: 2;
}

.mirror-head .type-info .list-content {
    height: 80px;
    width: 95%;
    display: block;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
}

.mirror-head .type-info .list-content #desTextarea {
    resize: none;
    width: 100%;
}

.mirror-head .type-info .list-content #desEditSpan {
    position: relative;
    top: -10px;
}

.mirror-head .type-info .fork .forkquick {
    cursor: pointer;
    font-size: 14px;
}

.mirror-head .type-info .fork:hover,
.mirror-head .type-info .live {
	color:#F58A18;
}

.mirror-head .type-info .downloadNumber {
    margin: 0 10px;
    font-size: 14px;
}

.mirror-head .list-download {
    float: right;
    height: 100%;
    width: 48%;
    min-width: 450px;
}

.mirror-head .list-download .download-mirror {
    vertical-align: middle;
    position: relative;
    top: 65px;
}

.mirror-head .list-download .download-mirror .download-src {
    width: 350px;
    height: 35px;
    text-indent: 10px;
    border: 1px solid #4280CB;
    color: #4280CB;
}

.mirror-head .list-download .download-mirror #click-copy,
.mirror-head .list-download .download-mirror #copy-style {
    border: 1px solid #4280CB;
    width: 65px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 423px;
    border-left: 0;
    cursor: pointer;
    background: url(../../images/bj_registry_list.png) no-repeat;
    background-position: 23px 5px;
}

.table_list {
    background: #fff;
    height: 60px;
    border: 1px solid #DCDCDC;
    line-height: 60px;
    margin-bottom: 28px;
    overflow: hidden;
}

.table_list .list_info {
    float: left;
    width: 110px;
    cursor: pointer;
    text-align: center;
}

/* .table_list .list_info.active {
    background: #4280CB;
    color: #fff;
} */


.infoLog,
.infoHistory,
.infoTags,
.infoInterface,
.infoDockerfile {
    background: #fff;
    border: 1px solid #DCDCDC;
    min-height: 196px;
    position: relative;
}

.infoLog .detail-contents,
.infoHistory .detail-contents,
.infoTags .detail-contents,
.infoInterface .detail-contents,
.infoDockerfile .detail-contents {
    padding: 30px 15px;
    padding-top: 50px;
    width: 100%;
}

.infoLog .detail-contents .envobj-tr,
.infoHistory .detail-contents .envobj-tr,
.infoTags .detail-contents .envobj-tr,
.infoInterface .detail-contents .envobj-tr,
.infoDockerfile .detail-contents .envobj-tr {
    border-bottom: 1px solid #eee;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
    padding: 8px;
}

.registry-attr {
    border: 1px solid #DCDCDC;
    border-top: 0;
    background: #fff;
}

.registry-attr .li-row {
    border-top: 1px solid #DCDCDC;
    line-height: 55px;
}

.registry-attr .li-row i {
    display: inline-block;
    width: 23px;
    vertical-align: middle;
    margin-left: 30px;
    margin-right: 5px;
    text-align: center;
}

.btn-long-deploy {
    width: 100%;
    height: 50px;
    line-height: 42px;
}

.editSave-bottom {
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.a-oper{
	margin-left:10px;
	cursor: pointer;
}
.filter{
	width:98%;
	margin: 0 auto;
}
.image-version li{
	float:left;
	margin-left:15px;
	width:23%;
	line-height: 30px;
	display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.image-version li span{
	margin-left:5px;
}
.caret-filter{
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}
.caret-filter-down{
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}
.imageName span{
	margin-left:15px;
}
.timeVersion{
	margin-left:18px!important;
}
.imageInfo{
    margin-left: 20px;
    margin-bottom: 10px;
    /* border-left: 3px solid #e14344; */
    line-height: 32px;
    padding-left: 10px;
    font-size: 16px;
    color: #a2a2a2;
}
.imageText{
	text-align: center;
	font-size: 20px;
	color: #a2a2a2;
	margin-bottom:20px;
}
.imageInfoText{
	margin-top:18px;
	padding-left: 20px;
	padding-right: 20px;
}

.mirror-head .buttons-info {
    float: left;
    /* height: 100%; */
    width: 30%;
    position: relative;
    margin-top:10%;
}

#searchImages{
	margin-left: -38px;
    font-size: 20px;
    color: #ccc;
}
.searchCondition{
    line-height: 40px;
    height: 40px;
}
#searchCon{
	margin-left: 22px;
    width: 90%;
}
.searchLabel{
	line-height: 40px;
    height: 40px;
    text-align: right;
    padding-right:0px;
}
.searchImageVersion ,.imageCenter-name{
	width:70%;
	display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
	float:left;
}
span.cloudNum{
	padding-left:4px;
}
.fa-cloud-download span{
	padding-left:4px;
}
.envTableValue{
	word-break: break-word;
}
#dockerFileContent{
	width: 100%;
    height: 200px;
    background-color: #ddd;
    border: 1px solid #ccc;
}

#centerSearchImages{
 	margin-left: -5px;
}
i.searchImage-img{
 	position: absolute;
    font-size: 20px;
    color: #cdcdcd;
    line-height: 45px;
    padding-left: 10px;
} 
.centerSearchInput{
	height:45px!important;
	line-height:45px!important;
	text-indent: 34px;
} 
.searchCenter{
	background-color: rgb(242,242,242);
    padding-top: 30px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    margin-top:100px;
}
.searchResult{
	margin-top:134px;
}
.breadcrumb li.imageNameTit{
	width:70%;
}