 body{
 	font-family: "Microsoft YaHei",Arial,"Hiragino Sans GB",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
 	line-height: 1.6;
}
.book-container {
    height: 100%;
    z-index: 1;
    margin-top: 70px;
}
 .container{
 	magrin-right: 0px;
 }
 .book {
	background-color: #ffffff;
}
.book .book-summary{
	color: #364149;
    font-size: 16px;
    border-right: 1px double rgba(0,0,0,.07);
    border-width: 5px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #EBEFF1;
	border-radius: 5px;
	height: 700px;
} 
.book .book-summary ul.summary li a:hover{
  background: #fff;
}
.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
    /* color: #e8504f; */
    background: #fff;
    text-decoration: none;
}
.book .book-summary ul.summary {
    list-style: none;
   
}
.book .book-summary ul.summary li {
    list-style: none;
    line-height: 40px;
    
}
.book .book-summary ul.summary li a {
    display: block;
    padding-left: 15px; 
}
.book .book-summary ul.summary li ul li a{
    margin-left: 20px;
}
.book .book-summary ul.summary li ul li ul li a{
    margin-left: 40px;
}
.book .book-body{
	overflow-y:scroll;
	height: 700px;
	padding-bottom: 50px;
}
.book .book-body .body-inner{
	width: 94%;
	margin: 0px auto;
}
.book .book-body .body-inner section.normal ul.info li{
	color: #3c81e0;
}
.book .book-body .page-wrapper .page-inner section.normal blockquote, .book .book-body .page-wrapper .page-inner section.normal dl, .book .book-body .page-wrapper .page-inner section.normal ol, .book .book-body .page-wrapper .page-inner section.normal p, .book .book-body .page-wrapper .page-inner section.normal table, .book .book-body .page-wrapper .page-inner section.normal ul {
    margin-top: 0;
    margin-bottom: .85em;
}
.book .book-body .page-wrapper .page-inner section.normal ol, .book .book-body .page-wrapper .page-inner section.normal ul {
    padding: 0 0 0 2em;
    margin: 0 0 .85em;
}
.book .book-body .page-wrapper .page-inner section.normal h1, .book .book-body .page-wrapper .page-inner section.normal h2, .book .book-body .page-wrapper .page-inner section.normal h3, .book .book-body .page-wrapper .page-inner section.normal h4, .book .book-body .page-wrapper .page-inner section.normal h5, .book .book-body .page-wrapper .page-inner section.normal h6 {
    margin-top: 1.275em;
    margin-bottom: .85em;
    font-weight: 700;
}
.book .book-body .page-wrapper .page-inner section.normal p {
    font-size: 16px;
}
p img{
	box-shadow: 0 0px 15px rgba(0,0,0,0.35);
}










