
.head-img img{
	width: 100%;
	margin-top: 70px;
}
.head-title{
	width:100%;
	height:30px;
	text-align: center;
}
.head-title span h2{
	margin-top: 40px;
	/* margin-bottom: 30px; */
}
..head-fun{
	width:100%;
}
.head-fun .funCon{
	width: 17%;
    height: 240px;
    background-color: #fff;
    text-align: center;
    margin-left: 33px;
    margin-top:30px;
    box-shadow: 1px 1px 10px #dadada;
    border-radius: 4px;
    float: left;
}
.left{
	float:left;
}
.right{
	float:right;
}
.head-fun .funCon img{
	width: 90px;
    margin-top :35px;
    margin-bottom :35px;
}
.template img{
	margin-bottom:14px!important;
}
.funTab{
	width: 100%;
	height: 300px;
	margin-bottom:35px;
	position:relative;
	top:50px;
	padding-left:96px;
}
.funTabRight{
	width:25%;
	height:248px;
	border-right:1px solid #dadada;
	/* margin-left: 100px; */
    /* margin-top: 50px; */
}
.span-active{
	/* background-color: #e8504f; */
	color:#fff;
}
.tabBtn{
	width: 78%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    margin-top:8px;
}
.funTabLeft{
	width:60%;
	height:200px;
	margin-left: 6%;
    margin-top: 34px;
}
.cloud-tit{
	font-size: 22px;
    color: #676a6a;
    margin-top: 10px;
}

.app-list > li {
    float: left;
    width: 20%;
}
.app-list .icon-view {
    display: block;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.app-list .icon-view .icon-wrapper {
	background-color: #fff;
    /* background-color: rgba(255,255,255,.2); */
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
}
.app-list .icon-view .icon-wrapper .icon-img {
    height: 116px;
    width: 100%;
    display: table;
}
.app-list .icon-view .icon-wrapper .icon-img span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.app-list .icon-view .icon-wrapper .icon-img img {
    display: inline-block;
    height: 85px;
    width: 85px;
}
.app-list .icon-view .icon-name {
    padding: 18px 5px;
    border-top: 1px solid rgba(0,0,0,.055);
    border-radius: 0 0 25px 25px;
    background-color: rgba(0,0,0,.1);
    /* color: rgba(255,255,255,.85); */
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0 7px 15px rgba(0,0,0,.25);
}
.funs-list{
	width: 88%;
	margin: 0 auto;
}
.icon-img span.text{
	color: #333;
	padding:20px;
}
.pandectBtn{
	border: 3px solid #fff;
    width: 112px;
    height: 44px;
    line-height: 36px;
    text-align: center;
    position: absolute;
    left: 50%;
    /* top: 366px; */
    margin-left: -65px;
    color: #fff;
    font-size: 20px;
    cursor:pointer;
}

.pandectBtn:hover{
    color: #fff;
}
.icon-home{
	color:#fff!important;
}



