.setTab {
    width: 100%;
    height: 45px;
    background: #EFF4F5;
    line-height: 45px;
}

.setTab a {
    text-align: center;
    color: #666;
    cursor: pointer;
}

.setTab a.Record {
    width: 110px;
    height: 100%;
    display: inline-block;
}

.setTab a.active {
    font-weight: 500;
    border-bottom: 1px solid #B8C4CE;
    background: #e4ebee;
}

.account_table {
    background: #fff;
    min-height: calc(100% - 130px);
}

.user_info_form,
.edit_pwd_form {
    padding: 40px;
    width: 60%;
}