/* 蓝色 #3C7BCA 红色 #e8504f 背景circle蓝 #418ac7 #2e384a */
.modalCrealApp .steps-main .progre .radius_step.action {
    border-bottom: 2px solid #2e384a;
    color: #2e384a;
}
.btn-prim {
    background: #2e384a !important;
    color: #fff !important;
}
.radius_step.action span {
    background: #3C7BCA;
}
.header {
    /* background: #e8504f; */
    background: #fff;
}
.navbar .navbar-header h1 {
    color:#3C7BCA;
}
.page-sidebar .nav-menu > .item-click {
    background-color: #2e384a;
}
a i.fa-home{
	color: #3C7BCA;
}
#nav1,#nav2,#nav3{
	color:#3C7BCA;
}


a:hover{
	color: #3C7BCA;
}
.ibox-content {
    border-color: #3C7BCA;
}
.ibox-title h5 {
    color:#3C7BCA;
}
.ibox-tools a:hover {
    cursor: pointer;
    color: #3C7BCA;
}

.nav > li > a {
    color: #fff;
}
.nav>li>a:focus, 
.nav>li>a:hover {
    background-color: #425069;
}
.nav > li.active {
    background-color: #425069;
}
#side-menu li a:hover{
	background-color: #425069;
}
.li-active{
	background-color:#3C7BCA;
}
.helpDoc input{
    color: #3C7BCA;
}
.helpDoc input:hover{
	border-color: #3C7BCA;
}
.helpDoc input:visited{
	border-color: #3C7BCA;
}
/* ci */
.tab-title.active{
	border-top: 4px solid #3C7BCA;
}
.ci-body .ci-content-tabmain .active {
    color: #4E8FDE;
    border-top: 2px solid #4E8FDE;
}
/* help */
.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
    color: #2e384a;
}
/* home */
.span-active{
	background-color: #2e384a;
}
nav.navbar-default{
	background-color:#2e384a;
}
.help-btn:hover{
	background-color: #3C7BCA;
	color: #fff;
}
.nav-bcm{
	background-color: #1e426f;
}
.img-circle{
	border: 4px solid #245086;
}
.serDetail{
	color:#3C7BCA!important;
}
.serDetail.btn-prim{
	color:#fff!important;
}
.serDetail:hover{
	color:#fff!important;
}




